// Daily Deals title
.daily-deals-title {
  h2 {
    display: inline-block;
    text-decoration: none;
    color: #3e3f3f;
    font-weight: 600;
    line-height: 36px;
    font-size: 34px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 15px;
      width: 72px;
      height: 2px;
      background-color: #3e3f3f;
    }
    &::before {
      left: -100px;
    }
    &::after {
      right: -100px;
    }
  }
}
// Tab list
.tab-list {
  justify-content: center;
  padding-top: 42px;
  padding-bottom: 52px;
  .nav-link {
    background-color: transparent !important;
    padding: 8px 16px;
    margin: 0 16px;
    display: block;
  }
  a.active h4,
  a h4:hover {
    color: #111;
    transition: all 0.2s ease 0s;
  }
  h4 {
    color: #555555be;
    font-size: 16px;
  }
}
// Tab Item card

